{% extends 'base.html.twig' %}

{% block title %}Edit ModeEnvoiInscription{% endblock %}

{% block body %}
    <h1>Edit ModeEnvoiInscription</h1>

    {{ include('mode_envoi_inscription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mode_envoi_inscription_index') }}">back to list</a>

    {{ include('mode_envoi_inscription/_delete_form.html.twig') }}
{% endblock %}