{% extends 'base.html.twig' %}

{% block title %}Nouveau mode d'envoi inscription{% endblock %}

{% block body %}
    <h1>Nouveau mode d'envoi inscription</h1>

    {{ include('mode_envoi_inscription/_form.html.twig') }}

    <a href="{{ path('mode_envoi_inscription_index') }}">Retour</a>
{% endblock %}