{% extends 'base.html.twig' %}

{% block title %}{{ autorite_tribunal.autoriteNom }} : modifier{% endblock %}

{% block body %}
    <h1> Modifier {{ autorite_tribunal.autoriteNom }} </h1>

    {{ include('autorite_tribunal/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('autorite_tribunal_index') }}"><button>Retour</button></a>

{% endblock %}