{% extends 'base.html.twig' %}

{% block title %}Modification Service Tribunal{% endblock %}

{% block body %}
    <h1>Modification Service Tribunal</h1>

    {{ include('service_tribunal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('service_tribunal_index') }}">Retour</a>

    {{ include('service_tribunal/_delete_form.html.twig') }}
{% endblock %}