{% extends 'base.html.twig' %}

{% block title %}Nouveau service tribunal{% endblock %}

{% block body %}
    <h1>Nouveau service tribunal</h1>

    {{ include('service_tribunal/_form.html.twig') }}

    <a href="{{ path('service_tribunal_index') }}">Retour</a>
{% endblock %}