{% extends 'base.html.twig' %}

{% block title %}Nouvelle Prefecture{% endblock %}

{% block body %}
    <h1>Nouvelle Prefecture</h1>

    {{ include('prefecture/_form.html.twig') }}

    <a href="{{ path('prefecture_index') }}">Retour</a>
{% endblock %}