{% extends 'base.html.twig' %}

{% block title %}Modifier {{ civilite.nom }}{% endblock %}

{% block body %}
    <h1>Modifier civilité {{ civilite.nom }}</h1>

    {{ include('civilite/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('civilite_index') }}"><button>Retour</button></a>

{% endblock %}