{% extends 'base.html.twig' %}

{% block title %}Nouvelle civilité{% endblock %}

{% block body %}
    <h1>Nouvelle civilité</h1>

    {{ include('civilite/_form.html.twig') }}

    <a href="{{ path('civilite_index') }}"><button>Retour</button></a>
{% endblock %}