{% extends 'base.html.twig' %}

{% block title %}Nouvelle Civilité{% endblock %}

{% block body %}
    <h1>Nouvelle Civilité</h1>

    {{ include('civilite/_form.html.twig') }}

    <a href="{{ path('civilite_index') }}">Retour</a>
{% endblock %}