{% extends 'base.html.twig' %}

{% block title %}Nouveau permis{% endblock %}

{% block body %}
    <h1>Nouveau permis</h1>

    {{ include('permis/_form.html.twig') }}

    <a href="{{ path('permis_index') }}">Retour</a>
{% endblock %}