{% extends 'base.html.twig' %}

{% block title %}Modification Lieu du Stage{% endblock %}

{% block body %}
    <h1>Modification lieu du Stage</h1>

    {{ include('lieu_stage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('lieu_stage_index') }}">Retour</a>

    {{ include('lieu_stage/_delete_form.html.twig') }}
{% endblock %}