{% extends 'base.html.twig' %}

{% block title %}Nouveau lieu de stage{% endblock %}

{% block body %}
    <h1>Nouveau lieu de stage</h1>

    {{ include('lieu_stage/_form.html.twig') }}

    <a href="{{ path('lieu_stage_index') }}">Retour</a>
{% endblock %}