{% extends 'base.html.twig' %}

{% block title %}Nouveau Stagiaire{% endblock %}

{% block body %}
    <h1>Nouveau Stagiaire</h1>

    {{ include('stagiaire/_form.html.twig') }}

    <a href="{{ path('stagiaire_index') }}">Retour</a>
{% endblock %}