<form method="post" action="{{ path('fonction_animateur_delete', {'id': fonction_animateur.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer la fonction {{ fonction_animateur.fonctionNom}}?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fonction_animateur.id) }}">
    <button class="btn">Supprimer</button>
</form>