{% extends 'base.html.twig' %}

{% block title %}Modifier Fonction Animateur{% endblock %}

{% block body %}
    <h1>Modifier Fonction Animateur</h1>

    {{ include('fonction_animateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('fonction_animateur_index') }}">Retour</a>

    {{ include('fonction_animateur/_delete_form.html.twig') }}
{% endblock %}