{% extends 'base.html.twig' %}

{% block title %}Modifier Fonction Animateur{% endblock %}

{% block body %}
    <h1>Modifier la fonction {{ fonction_animateur.fonctionNom}}</h1>

    {{ include('fonction_animateur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('fonction_animateur_index') }}"><button>Retour</button></a>

    
{% endblock %}