{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fonction Animateur{% endblock %}

{% block body %}
    <h1>Nouvelle fonction animateur</h1>

    {{ include('fonction_animateur/_form.html.twig') }}

    <a href="{{ path('fonction_animateur_index') }}">Retour</a>
{% endblock %}