<form method="post" action="{{ path('suivi_dossier_delete', {'id': suivi_dossier.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer ce suivis de dossier ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi_dossier.id) }}">
    <button class="btn">Supprimer</button>
</form>