{% extends 'base.html.twig' %}

{% block title %}Modifier suivis dossier{% endblock %}

{% block body %}
    <h1>Modifier le suivis de dossier</h1>

    {{ include('suivi_dossier/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('suivi_dossier_index') }}"><button>Retour<button></a>

    {{ include('suivi_dossier/_delete_form.html.twig') }}
{% endblock %}