{% extends 'base.html.twig' %}

{% block title %}Nouveau suivi de dossier{% endblock %}

{% block body %}
    <h1>Nouveau suivi de dossier</h1>

    {{ include('suivi_dossier/_form.html.twig') }}

    <a href="{{ path('suivi_dossier_index') }}"><button>Retour</button></a>
{% endblock %}