{% extends 'base.html.twig' %}

{% block title %}Modifier l'animateur{% endblock %}

{% block body %}
    <h1>Modifier l'animateur</h1>

    {{ include('animateur/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('animateur_index') }}"><button>Retour</button></a>

    {{ include('animateur/_delete_form.html.twig') }}
{% endblock %}