{% extends 'base.html.twig' %}

{% block title %}Nouveau Animateur{% endblock %}

{% block body %}
    <h1>Nouveau Animateur</h1>

    {{ include('animateur/_form.html.twig') }}

    <a href="{{ path('animateur_index') }}">Retour</a>
{% endblock %}