{% extends 'base.html.twig' %}

{% block title %}Nouveau animateur{% endblock %}

{% block body %}
    <h1>Nouveau animateur</h1>

    {{ include('animateur/_form.html.twig') }}

    <a href="{{ path('animateur_index') }}"><button>Retour</button></a>
{% endblock %}