{% extends 'base.html.twig' %}

{% block title %}Edit ModeEnvoiConvoc{% endblock %}

{% block body %}
    <h1>Edit ModeEnvoiConvoc</h1>

    {{ include('mode_envoi_convoc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('mode_envoi_convoc_index') }}">back to list</a>

    {{ include('mode_envoi_convoc/_delete_form.html.twig') }}
{% endblock %}