{% extends 'base.html.twig' %}

{% block title %}New ModeEnvoiConvoc{% endblock %}

{% block body %}
    <h1>Create new ModeEnvoiConvoc</h1>

    {{ include('mode_envoi_convoc/_form.html.twig') }}

    <a href="{{ path('mode_envoi_convoc_index') }}">back to list</a>
{% endblock %}