{% extends 'base.html.twig' %}

{% block title %}Nouveau mode d'envoi convocation{% endblock %}

{% block body %}
    <h1>Nouveau mode d'envoi convocation</h1>

    {{ include('mode_envoi_convoc/_form.html.twig') }}

    <a href="{{ path('mode_envoi_convoc_index') }}">Retour</a>
{% endblock %}