{% extends 'base.html.twig' %}

{% block title %}Nouveau Tribunal{% endblock %}

{% block body %}
    <h1>Nouveau tribunal</h1>

    {{ include('tribunal/_form.html.twig') }}

    <a href="{{ path('tribunal_index') }}"><button>Retour</button></a>
{% endblock %}