{% extends 'base.html.twig' %}

{% block title %}New Tribunal{% endblock %}

{% block body %}
    <h1>Create new Tribunal</h1>

    {{ include('tribunal/_form.html.twig') }}

    <a href="{{ path('tribunal_index') }}">back to list</a>
{% endblock %}