{% extends 'base.html.twig' %}

{% block title %}Modification Infraction{% endblock %}

{% block body %}
    <h1>Modification Infraction</h1>

    {{ include('infraction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('infraction_index') }}">Retour</a>

    {{ include('infraction/_delete_form.html.twig') }}
{% endblock %}