{% extends 'base.html.twig' %}

{% block title %}Nouvelle Infraction{% endblock %}

{% block body %}
    <h1>Nouvelle Infraction</h1>

    {{ include('infraction/_form.html.twig') }}

    <a href="{{ path('infraction_index') }}">Retour</a>
{% endblock %}