<form method="post" action="{{ path('nature_prefecture_delete', {'id': nature_prefecture.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette nature de préfecture : {{ nature_prefecture.natureNom }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nature_prefecture.id) }}">
    <button class="btn">Supprimer</button>
</form>