{% extends 'base.html.twig' %}

{% block title %}Nouvelle nature préfecture{% endblock %}

{% block body %}
    <h1>Créer une nouvelle nature de préfecture</h1>

    {{ include('nature_prefecture/_form.html.twig') }}

    <a href="{{ path('nature_prefecture_index') }}"><button>Retour</button></a>
{% endblock %}