{% extends 'base.html.twig' %}

{% block title %}Cas Stage{% endblock %}

{% block body %}
    <h1>Modification des cas de stage</h1>

    {{ include('cas_stage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('cas_stage_index') }}">
        <button class="btn">Retour</button>
    </a>

    {{ include('cas_stage/_delete_form.html.twig') }}
{% endblock %}