<form method="post" action="{{ path('statut_animateur_delete', {'id': statut_animateur.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_animateur.id) }}">
    <button class="btn">Supprimer</button>
</form>