{% extends 'base.html.twig' %}

{% block title %}Modifier status animateur{% endblock %}

{% block body %}
    <h1>Modifier le status de l'animateur</h1>

    {{ include('statut_animateur/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('statut_animateur_index') }}">
        <button class="btn">Retour</button>
    </a>

    {{ include('statut_animateur/_delete_form.html.twig') }}
{% endblock %}