{% extends 'base.html.twig' %}

{% block title %}Edit StatutAnimateur{% endblock %}

{% block body %}
    <h1>Edit StatutAnimateur</h1>

    {{ include('statut_animateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('statut_animateur_index') }}">
        <button class="btn">Retour</button>
    </a>

    {{ include('statut_animateur/_delete_form.html.twig') }}
{% endblock %}