{% extends 'base.html.twig' %}

{% block title %}Nouveau Statut Animateur{% endblock %}

{% block body %}
    <h1>Nouveau Statut Animateur</h1>

    {{ include('statut_animateur/_form.html.twig') }}

    <a href="{{ path('statut_animateur_index') }}">Retour</a>
{% endblock %}