<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/css/app.css') }}">{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
         {% block sidenav %}
        <nav class="sidenav">
        {{ knp_menu_render('sidebar') }}
        </nav>
        
        {% endblock %}
        {% block body %}
          <nav class="sidenav">
        {{ knp_menu_render('sidebar') }}
        </nav>
        {% endblock %}
        {% block javascripts %}<script src="{{ asset('build/js/app.js') }}"></script>{% endblock %}
    </body>
</html>
