{% extends 'base.html.twig' %}

{% block title %} {{ autorite_prefecture.autoriteNom }}{% endblock %}

{% block body %}
    <h1>Modifier l'autorité : {{ autorite_prefecture.autoriteNom }} </h1>

    {{ include('autorite_prefecture/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('autorite_prefecture_index') }}"><button>retour</button></a>


{% endblock %}