<form method="post" action="{{ path('nature_tribunal_delete', {'id': nature_tribunal.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette nature de tribunal : {{ nature_tribunal.natureNom }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nature_tribunal.id) }}">
    <button class="btn">Supprimer</button>
</form>