{% extends 'base.html.twig' %}

{% block title %}Modifier nature tribunal{% endblock %}

{% block body %}
    <h1>Modifier la nature du tribunal</h1>

    {{ include('nature_tribunal/_form.html.twig', {'button_label': 'Envoyer'}) }}

    <a href="{{ path('nature_tribunal_index') }}"><button>Retour</button></a>

    {{ include('nature_tribunal/_delete_form.html.twig') }}
{% endblock %}