{% extends 'base.html.twig' %}

{% block title %}Nature tribunal{% endblock %}

{% block body %}
    <h1>Nature du tribunal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ nature_tribunal.natureNom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nature_tribunal_index') }}"><button>Retour</button></a>

    <a href="{{ path('nature_tribunal_edit', {'id': nature_tribunal.id}) }}"><button>Modifier</button></a>

    {{ include('nature_tribunal/_delete_form.html.twig') }}
{% endblock %}