{% extends 'base.html.twig' %}

{% block title %}Nouveau Stage{% endblock %}

{% block body %}
    <h1>Nouveau Stage</h1>

    {{ include('stage/_form.html.twig') }}

    <a href="{{ path('stage_index') }}">
        <button class="btn">Retour</button>
    </a>
{% endblock %}