<form method="post" action="{{ path('service_prefecture_delete', {'id': service_prefecture.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service_prefecture.id) }}">
    <button class="btn">Supprimer</button>
</form>