{% extends 'base.html.twig' %}

{% block title %}Edit ServicePrefecture{% endblock %}

{% block body %}
    <h1>Edit ServicePrefecture</h1>

    {{ include('service_prefecture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('service_prefecture_index') }}">back to list</a>

    {{ include('service_prefecture/_delete_form.html.twig') }}
{% endblock %}