{% extends 'base.html.twig' %}

{% block title %}Nouveau service préfecture{% endblock %}

{% block body %}
    <h1>Nouveau service préfecture</h1>

    {{ include('service_prefecture/_form.html.twig') }}

    <a href="{{ path('service_prefecture_index') }}">
        <button class="btn">Retour</button>
    </a>
{% endblock %}