{% extends 'base.html.twig' %}

{% block title %}Bordereau index{% endblock %}

{% block body %}
    <h1>Bordereau index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bordereau in bordereaus %}
            <tr>
                <td>{{ bordereau.id }}</td>
                <td>
                    <a href="{{ path('bordereau_show', {'id': bordereau.id}) }}">Voir</a>
                    <a href="{{ path('bordereau_edit', {'id': bordereau.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune donnée enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bordereau_new') }}">Nouveau</a>
{% endblock %}