<form method="post" action="{{ path('forfait_animateur_delete', {'id': forfait_animateur.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer le forfait : {{ forfait_animateur.forfaitPrix }} € ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forfait_animateur.id) }}">
    <button class="btn">Supprimer</button>
</form>