<form method="post" action="{{ path('forfait_animateur_delete', {'id': forfait_animateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forfait_animateur.id) }}">
    <button class="btn">Delete</button>
</form>