{% extends 'base.html.twig' %}

{% block title %}Modifier Forfait Animateur{% endblock %}

{% block body %}
    <h1>Modifier Forfait Animateur</h1>

    {{ include('forfait_animateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('forfait_animateur_index') }}">Retour</a>

    {{ include('forfait_animateur/_delete_form.html.twig') }}
{% endblock %}