{% extends 'base.html.twig' %}

{% block title %}Modifier Forfait Animateur{% endblock %}

{% block body %}

    <h1>Modifier le forfait : {{ forfait_animateur.forfaitPrix }} €</h1>

    {{ include('forfait_animateur/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('forfait_animateur_index') }}"><button>Retour</button></a>


{% endblock %}