{% extends 'base.html.twig' %}

{% block title %}Nouveau Forfait Animateur{% endblock %}

{% block body %}
    <h1>Nouveau Forfait Animateur</h1>

    {{ include('forfait_animateur/_form.html.twig') }}

    <a href="{{ path('forfait_animateur_index') }}">Retour</a>
{% endblock %} 