{% extends 'base.html.twig' %}

{% block title %}New ForfaitAnimateur{% endblock %}

{% block body %}
    <h1>Create new ForfaitAnimateur</h1>

    {{ include('forfait_animateur/_form.html.twig') }}

    <a href="{{ path('forfait_animateur_index') }}">back to list</a>
{% endblock %}