<form method="post" action="{{ path('type_infraction_delete', {'id': type_infraction.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_infraction.id) }}">
    <button class="btn">Supprimer</button>
</form>