{% extends 'base.html.twig' %}

{% block title %}Edit TypeInfraction{% endblock %}

{% block body %}
    <h1>Edit TypeInfraction</h1>

    {{ include('type_infraction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_infraction_index') }}">retour</a>

    {{ include('type_infraction/_delete_form.html.twig') }}
{% endblock %}