{% extends 'base.html.twig' %}

{% block title %}New Autorite{% endblock %}

{% block body %}
    <h1>Create new Autorite</h1>

    {{ include('autorite/_form.html.twig') }}

    <a href="{{ path('autorite_index') }}">back to list</a>
{% endblock %}